@use "utility" as *;

/***************************************
footer
****************************************/

.footer {
  width: 100%;
  height: 223px;
  background-color: $basic-c;
  color: #fff;
}
.footer__inner {
  @include flex-center;
  width: min(100% - 30px, 1410px);
  height: 100%;
  padding-inline: 15px;
  margin-inline: auto;
  @include mq(md) {
    width: calc(100% - 40px);
    padding-inline: 20px;
  }
}
.top__btn {
  width: 80px;
  height: 80px;
  background-color: #fff;
  color: $sub-c;
  border-radius: 50%;
  display: grid;
  place-items: center;
  .top__btn-link {
    display: inline-block;
    color: inherit;
    line-height: 1;
    width: 1.5em;
    height: 1.5em;
    border: 0.3em solid currentColor;
    border-left: 0;
    border-bottom: 0;
    transform: translateY(25%) rotate(-45deg);
  }
}
