@use "utility" as *;

.l-section {
  width: min(100% - 35px, $content-width);
  padding-inline: 15px;
  margin-inline: auto;
  @include mq(md) {
    width: calc(100% - 40px);
    padding-inline: 20px;
  }
}

.l-content {
  width: min(100% - 35px, $section-width);
  padding-inline: 15px;
  margin-inline: auto;
  @include mq(md) {
    width: calc(100% - 40px);
    padding-inline: 20px;
  }
}
